<div id="app"></div>
<script src="lib/babel-core/browser.js"></script>
<script src="/lib/react/react/dist/react.js"></script>
<script src="/lib/react/react-dom/dist/react-dom.js"></script>
<script type="text/babel" src="/src/utility/import.js"></script>
<script type="text/babel" src="/src/ElementEntry.js"></script>
<script type="text/babel" src="/src/ElementsList.js"></script>
<script type="text/babel" src="/src/ElementsData.js"></script>
<script type="text/babel" src="/src/NaviBar.js"></script>
<script type="text/babel" src="/src/App.js"></script>
